{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true,
        "modules": false
      }
    ]
  ]
}
